<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.androidlearningdemo">
	<uses-sdk android:minSdkVersion="14" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.companyname.androidlearningdemo.permission.MAPS_RECEIVE" />
	<permission android:name="com.companyname.androidlearningdemo.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<application android:label="アンドロイド"></application>
</manifest>